.select2-container .select2-selection--single {
    height: 40px;
}

.select2-container--open .select2-selection--single {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.select2-container--default .select2-selection--single {
    background-color: #fafafa;
    border-color: #eeeeee;
}

.select2-dropdown {
    border-color: #eeeeee;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #eeeeee;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d4d4d4;
}

.select2-img {
    margin-right: 3px;
}

.select2-container .select2-choice {
  background-image: none !important;
  border: none !important;
  height: auto  !important;
  padding: 0px !important;
  line-height: 22px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.select2-container .select2-choice .select2-arrow {
  background-image: none !important;
  background: transparent;
  border: none;
  width: 14px;
  top: 2px;
  right: 5px;
}
.select2-container .select2-container-multi.form-control {
  height: auto;
}
.select2-results .select2-highlighted {
  background-color: #2b4049;
}
.select2-drop-active {
  border: 1px solid #e3e3e3 !important;
  padding-top: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.select2-search input {
  border: 1px solid #e3e3e3;
}
.select2-container-multi {
  width: 100%;
}
.select2-container-multi .select2-choices {
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: none !important;
  background: transparent !important;
  background-image: none  !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  background-clip: padding-box !important;
  min-height: 34px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 6px 8px 7px 19px;
  margin: 5px 0 3px 5px;
  background: #eeeeee;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 7px 7px 7px 10px;
  font-family: inherit;
}
.select2-container-multi .select2-choices .select2-search-choice-close {
  top: 6px;
}
.select2-chosen {
  height: 34px;
  line-height: 34px;
  padding-left: 15px;
  color: #444444;
}